.main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    background-color: white;
  }
  
  .container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    box-sizing: border-box;
    overflow: hidden;
  }
  

.chatContainer {
  flex: 1;
  height: 100%;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: white;
  overflow: hidden;
  min-width: 0;
}

.chat {
  height: 100%;
  width: 100%;
  overflow: hidden;
}


.column {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}

.column > * {
  border-radius: 16px;
  overflow: hidden;
  width: 100%;
  flex: 1;
}
